// info

extends ./layout.jade

block nav
  li
    a(href='/') Home
  li.active
    a(href='/info') Info
  li
    a(href='https://www.facebook.com/events/1057019467647590/') Facebook

block inner
  h1.cover-heading WUNDER
  p.lead
      The WUNDER is conceptual vessel for the diverse often hybrid, multifaceted forms of artistic expressions conceived in today’s eclectic, media driven cultural landscape.
  .info
    p.lead
      In this regard, the exhibition title refers also to the “Wunderkammer” of the lateRenaissance and Baroque periods, a precursor of what we now think of as a either natural history or art museums - meaning the bringing together of objects from different origins and disparate meanings, and then arranging them along formal rather than cultural or historical lines.
    p.lead
      This concept for a Wunder exhibition similarly takes seven individual student installations, and while retaining their individuality, binds them in closed quarters to flow together disparate and communicating parts: something that could only be looked upon and understood therefore as a Wunder.
  .artists
    Featuring the work of:
    ul
      li Chris Brown
      li Tanner Charles
      li Jerico Domingo
      li LJ Frezza
      li Maurice Hampton
      li Jaclyn Mednicov
      li Andrew Monks
