// info

extends ./layout.jade

block nav
  li
    a(href='/') Home
  li.active
    a(href='/info') Info
  include ./_artists.jade
  li
    a(href='https://www.facebook.com/events/1057019467647590/') Facebook

block inner
  h1.cover-heading Info
  include:markdown ../md/statement.md
  h2 Works
  ul
    - for (n in pieces)
      - var piece = pieces[n]
      li
        a(href='/#{piece.slug}')
          | #{piece.title}
        |, by #{piece.artist}


