// info

extends ./layout.jade

block nav
  li
    a(href='/') Home
  li.active
    a(href='/info') Info
  li
    a(href='https://www.facebook.com/events/1057019467647590/') Facebook

block inner
  h1.cover-heading InfO
  include:markdown ../md/statement.md
  .artists
    | Featuring the work of:
    ul
      li Chris Brown
      li Tanner Charles
      li Jerico Domingo
      li LJ Frezza
      li Maurice Hampton
      li Jaclyn Mednicov
      li Andrew Monks
