// info

extends ./layout.jade

block nav
  li
    a(href='/') Home
  li.active
    a(href='/info') Info
  li
    a(href='https://www.facebook.com/events/1057019467647590/') Facebook

block inner
  h1.cover-heading
    | #{title}
  .piece
    ul
      if year
        li #{year}
      if media
        li #{media}
    if statement
      p
        | #{statement}
