// info

extends ./layout.jade

block nav
  li
    a(href='/') Home
  li.active
    a(href='/info') Info
  li
    a(href='https://www.facebook.com/events/1057019467647590/') Facebook

block inner
  h1.cover-heading
    | #{title}
  .piece
    dl
      if artist
        dt Artist:
        dd #{artist}
      if year
        dt Year:
        dd #{year}
      if media
        dt Media:
        dd #{media}
      if statement
        dt Statement:
        dd
          != statement
